<%- include("template/head.ejs", {tituloWeb})%>
    <link rel="stylesheet" href="/css/register.css">
    </head>

    <body class="login">
        <main class="container-fluid mainlogin">

            <div class="container">
                <div class="row justify-content-center containerFormat">
                    <form id="editar" class="rounded bg-dark p-4 text-white loginFormat align-self-center"
                        data-id="<%=proyectoEditar.id%>">
                        <div class="mt-2 text-center">
                            <h1 class="display-6">Editar proyecto</h1>
                        </div>
                        <div class="mb-3 pt-4 ps-5 pe-5">
                            <label for="nombreproyecto" class="form-label">Nombre del Proyecto</label>
                            <input type="text" class="form-control" id="nombre proyecto"
                                placeholder="Proyecto de Trabajo" name="nombre" value="<%=proyectoEditar.nombre%>">
                        </div>
                        <div class="mb-3 pt-4 ps-5 pe-5">
                            <label for="responsable" class="form-label">Responsable</label>
                            <select class="form-select" aria-label="Default select example" name="responsable">
                                <option value="<%=proyectoEditar.responsable.nombre%>">
                                    <%=proyectoEditar.responsable.nombre%>
                                </option>
                                <% arrayJefes.forEach(jefe=> { %>
                                    <option value="<%=jefe.nombre%>">
                                        <%=jefe.nombre%>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="mb-3 pt-4 ps-5 pe-5">
                            <label for="tipo" class="form-label">Tipo</label>
                            <input type="text" class="form-control" id="tipo" placeholder="Tipo de proyecto" name="tipo"
                                value="<%=proyectoEditar.tipo%>">
                        </div>
                        <div class="mb-3 pt-4 ps-5 pe-5">
                            <label for="horasproyecto" class="form-label">Horas</label>
                            <input type="number" class="form-control" id="horasproyecto" placeholder="Horas Estimadas"
                                name="horas" value="<%=proyectoEditar.horas%>">
                        </div>
                        <div class="row justify-content-center">
                            <button id="edit" type="submit" class="btn btn-success mt-5 buttonFormat me-md-0 me-lg-5 me-xl-5">Guardar
                                cambios</button>
                            <button id="delete" type="submit" class="btn btn-danger mt-5 buttonFormat me-md-0 me-lg-5 me-xl-5">Eliminar
                                proyecto</button>

                            <a class="btn btn-success mt-5 buttonFormat" href="/">Volver</a>
                            <%if (error){%>
                                <p class="text-center mt-4 p-1 bg-danger">Rellena todos los campos correctamente</p>
                                <%}%>
                                    <%if (success){%>
                                        <p class="text-center mt-4 p-1 bg-success">Proyecto editado satisfactoriamente
                                        </p>
                                        <%}%>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include("template/footer.ejs")%>
            <script src="/js/edit_delete_project.js"></script>