<%- include("template/head.ejs", {tituloWeb:"Usuarios", usuario})%>
    </head>

    <body class="usuarios">
        <%- include("template/header.ejs", {tituloWeb:"Usuarios"})%>

            <main class="container-fluid mainusuarios">
                <div class="container-fluid p-5">
                    <h1 class="display-1 text-light">Usuarios</h1>
                    <h1 class="display-6 text-light">
                        <%=title%>
                    </h1>
                </div>
                <div class="otro">
                    <div class="row justify-content-around">
                        <div class="col-12 col-sm-12 col-md-9 col-lg-6 table-responsive overflow-auto text-center bg-secondary rounded border border-secondary border-1">
                            <table class="table">
                                <thead class="thead-dark fs-5">
                                    <tr>
                                        <th scope="col">Nombre de usuario</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Rol</th>
                                        <%if (usuario.rol=="Profesor" ){%>
                                            <th scope="col">Acción</th>
                                            <%}%>
                                    </tr>
                                </thead>

                                <tbody class="border-bottom border-dark text-light">

                                    <!--Haremos el foreach para recorrer el array-->
                                    <% arrayUsuarios.forEach(usuarios=> { %>
                                        <tr>
                                            <td>
                                                <%= usuarios.nombre %>
                                            </td>
                                            <td>
                                                <%= usuarios.nombreReal %>
                                            </td>
                                            <td>
                                                <%= usuarios.apellidos %>
                                            </td>
                                            <td>
                                                <%= usuarios.rol %>
                                            </td>
                                            <%if (usuario.rol=="Profesor" ){%>
                                                <td>
                                                    <a class="btn btn-warning btn-sm"
                                                        href="/users/<%=usuarios.id%>">Editar/Eliminar</a>
                                                </td>
                                                <%}%>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="col-7 text-center row">
                            <%if (usuario.rol=="Profesor" ){%>
                                <div class="col-sm-12 col-md-6">
                                    <a class="btn btn-secondary btn-block my-4 me-sm-0 me-md-5" href="/register">Nuevo Usuario</a>
                            </div>
                                <%}%>
                                <div class="col-sm-12 col-md-6">
                                    <a class="btn btn-dark btn-block my-4" href="/">Volver</a>
                                </div>
                        </div>
                    </div>
                </div>

            </main>

            <%- include("template/footer.ejs")%>